body {
    height: max-content;
    background-color: #E0C0E0;
    font-family: sans-serif;
    text-align: center;
    overflow: -moz-hidden-unscrollable;
    transition: background-color 3s ease;
  }
#loadingGif{
  width: 100px;
  height: 100px;
}
.placeholder {
  margin-top: 150px;
  color: #e0c0e000;
}
#container1 {

  margin-top: 80vh;
  }
#dragText {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 70px;
  height: 100px;
  color: white;
}
#text {
    position: relative;
    top: 200px;
    margin-inline: auto;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 50px;
  }
#cursor {
    position: relative;
    top: 200px;
    color: white;
    animation: blink 1s infinite;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
  }
#scroll-text {
  margin-top: 200px;
  color: rgba(255, 255, 255, 0.700);
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
    opacity: 0.01;
    transition: opacity 1s ease;
  }
#container2 {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#coolTextGif{

  opacity: 0; 
}
#coolTextDiv{
  width: 100%;

}
#key{
  margin-left: 50px;
}
#lock{
  margin-right: 50px;
}
#message{
  margin-top: 300px;
  opacity: 0;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: opacity 1s ease;
}

#conversationMainScreen{
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.loader-container.hidden {
  opacity: 0;
}

#scrollDownTextFixed{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
  opacity: 0.01;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  z-index: 3;
  transition: opacity 1s ease;
}

#scrollDownTextFixed.hidden { 
  opacity: 0;
}


#bouncing-dots {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: #d57aff;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}